
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="large-12 columns">
        <h1>Insert</h1>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <button id="insert">Update quote</button>
            <div class="panel callout radius" id="panel">
               <h5>Keep clicking button to update quote</h5>
            </div>
    </div>
</div>

<script id="quoteTpl" type="text/template">
        <h5>{{quote}}</h5>
        <p>{{author}}</p>
</script>

@section scripts{
    <script>
        CONNECT.displayQuote('#insert', '#quoteTpl', '.panel');
    </script>
}

